/* This is the main css*/

.topmenucontainer{
  height: 64px; 
  background-color:rgb(239, 239, 239);
}

.topmenu{
  display: flex;
  padding-top: 15px;
  list-style: none;
}

.topmenu li{
  margin-right: 20px;
}
 
.topmenu li a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.topmenu li a:hover{
  color:rgb(230, 192, 130);
}

.topmenuli5{
  background-color:rgb(230, 192, 130);
  padding-left:10px;
  padding-right: 10px;
  padding-top:3px;
  padding-bottom:3px;   
  border-radius: 3px;
}

.topmenucontainer2{
  background-color:rgb(230, 192, 130);
}

.topmenu2{
  display: flex;
  padding-top: 8px;
  list-style: none;
}

.topmenu2 li{
  margin-right: 30px;
}

.topmenu2 li a{
  text-decoration: none;
  color: rgb(239, 239, 239);
  font-weight: bold;
}

